
caption {
  caption-side: top;
}

i {
  cursor: pointer;
}

.container{
  box-shadow: 3px 3px 3px 3px var(--green-primary-color);
  border-radius: 2rem;
  margin: 1rem 0rem;
}

@media screen and (max-width:576px) {
  .container{
    box-shadow: 0px 0px 3px 3px var(--green-primary-color);
    border-radius: 0rem;
    margin: 1rem 0rem;
  }
}